.articlesPage {
  display: flex;
  flex-direction: column;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(55, 69, 82);
  align-items: center;
  padding: 1%;
}

.articlesList {
  padding: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cardBody {
  display: flex;
  flex-direction: row;
  width: 80%;
}

.commentCard {
  border: solid 5px rgb(55, 69, 82);
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  background-color: rgba(204, 203, 203, 0.548);
}

.commentHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Fugaz one";
}
.commentBody {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 25px;
}
.articlesSorter {
  padding: 20px;
  margin: 30px;
  margin-top: 120px;
  margin-bottom: 30px;
  border-radius: 20px;
  flex-direction: row;
  width: auto;
  align-items: center;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
  background-image: url("./1343548-most-popular-black-and-white-newspaper-wallpaper-2560x1440-large-resolution.jpg");
}

.homeArticlesSorter {
  background-color: #facd48;
  border: solid 5px rgb(55, 69, 82);
  margin: 20px;
  width: 100%;
  margin-top: 30px;
}
.home {
  font-size: 50px;
  color: #facd48;
  margin-top: 0%;
  margin-left: 0%;
  margin-right: 1%;
  justify-content: flex-start;
}
.topicTitle {
  background-color: rgb(250, 205, 72, 0.9);
  border-radius: 20px;
  width: 100%;
}

.sortTitle {
  font-weight: bold;
}
.sortOption {
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  border-left: solid 3px rgb(55, 69, 82);
  padding-left: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.articleComments {
  font-weight: bold;
  margin-top: 0px;
}
.articleMain {
  display: flex;
  flex-direction: column;
}
.articleCardMain {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-right: 3%;
}

.articleCard {
  background-color: rgb(215, 216, 211);
  display: flex;
  flex-direction: row;
  width: 90%;
  margin-bottom: 10px;
  border: solid 3px rgb(55, 69, 82);
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.voteCount {
  background-color: rgb(55, 69, 82);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  width: 5%;
}

.cardHead {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 20px;
  margin: 0px;
  color: rgba(55, 69, 82, 0.548);
  width: 100%;
}

.articleDetails {
  margin-left: 20%;
  margin-top: 10px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: space-between;
}
.authorLink {
  font-size: 30px;
  color: rgb(55, 69, 82);
  text-decoration: underline;
}
#singleVoter .vn {
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin-top: -20px;
  margin-bottom: -20px;
}
.formContainer {
  display: flex;
  flex-direction: row;
}

.commentsTitle {
  font-family: "Fugaz one";
  font-size: 40px;
}

.commentPoster {
  background-color: #f5d470;
  margin: 20px;
  padding: 20px;
  border: solid 3px rgb(55, 69, 82);
  border-radius: 20px;
  font-family: "fugaz one";
}

.commentAdder {
  height: 50px;
  width: 100%;
  border: solid 2px gray;
}
#postCommentButton {
  background-color: lightgray;
  border: solid 1px grey;
  margin-top: 2%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-radius: 10px;
  height: 300%;
}
#singleVoter {
  padding-left: 30px;
}

.singleArticle {
  background-color: rgb(215, 216, 211);
  border-radius: 5px;
  color: rgb(55, 69, 82);
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.5);
  margin: 30px;
  margin-top: 150px;
}

.singleArticleHead {
  font-family: "Fugaz One";
  font-size: 60px;
  background-color: #facd48;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.articleBody {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 25px;
  margin: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 20px;
}
.subtitle {
  display: flex;
  flex-direction: row;

  font-family: "Fugaz One";
}
.commentsList {
  background-color: white;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 10%;
}

.vn {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.topicTitle {
  color: #374552;
  font-size: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-bottom: 0px;
  align-items: center;
}

.topicName {
  font-weight: bold;
  color: black;
  font-size: 50px;
  display: flex;
  flex-direction: row;
  font-family: "Fugaz One", cursive;
  padding-bottom: 35px;
}

.headTopic {
  font-family: "Fugaz One", cursive;
  color: rgb(55, 69, 82);
  font-size: 25px;
  height: 20px;
  width: 80%;
}
.cardLink {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  font-size: 30px;
  color: rgb(55, 69, 82);
  text-decoration: underline;
  font-family: "Fugaz One", cursive;
}

.headLink {
  padding-right: 10px;
  color: rgba(55, 69, 82, 0.548);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
}
.voter {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  flex-direction: row;
  color: rgb(55, 69, 82);
  height: 20px;
  padding-top: 2%;
  width: auto;
}
.commentFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.body {
  background-color: rgb(255, 237, 180);
  border: solid 3px rgb(55, 69, 82);
  padding: 20px;
  border-radius: 20px;
}

.button {
  background-color: #facd48;
  border: solid 1px rgb(55, 69, 82);
  border-radius: 30%;
  color: rgb(55, 69, 82);
  font-weight: 200px;
  text-shadow: 0 0 black;
  font-size: 20px;
}

.deleteButton {
  background-color: #facd48;
  border: solid 1px gray;
  border-radius: 20px;
  color: rgba(55, 69, 82);
  font-weight: bold;
  margin-left: 3%;
}

.sortForm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

#error {
  font-family: "Fugaz one";
  font-size: 60px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 30%;
}

.loading {
  font-family: "Fugaz one";
  font-size: 30px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.errorPage {
  display: flex;
  flex-direction: column;
  margin-top: 200px;
}
.header {
  background-image: url("./1343548-most-popular-black-and-white-newspaper-wallpaper-2560x1440-large-resolution.jpg");
  color: #facd48;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

#link {
  color: black;
  font-size: 400%;
  text-decoration: none;
  padding: 5%;
  font-family: "Fugaz One";
  justify-content: center;
}

.title {
  background-color: rgb(250, 205, 72, 0.9);
  padding: auto;
  margin: auto;
  margin-top: 15%;
  margin-bottom: 10%;
  width: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  letter-spacing: 8px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

.navBar {
  display: flex;
  flex-direction: row;
  background-color: rgb(55, 69, 82);
  color: #facd48;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  width: 100%;
}

#topic {
  text-decoration: none;
  display: flex;
  font-weight: bold;
  color: #facd48;
  margin-top: 10px;
  padding: 10px;
  border: solid 2px #facd48;
}

.nav {
  display: flex;
  list-style: none;
  flex-direction: row-reverse;
  align-items: space-between;
  width: 40%;
  justify-content: space-between;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-right: 2%;
}
.topics {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}
ul {
  list-style: none;
}
.voteSetup {
  width: 30px;
}

.thanks {
  font-size: 15px;
  color: maroon;
  font-style: italic;
  display: flex;
  justify-content: flex-end;
  padding-right: 5%;
}

#topicLoading {
  padding: auto;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.welcome {
  margin: 0px;
  display: flex;
  flex-direction: column;
  font-size: 70%;
  width: 70%;
  padding-left: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.welcomeString {
  margin-bottom: -10px;
}

#username {
  font-style: italic;
  font-size: 300%;
  font-family: "fugaz one";
  margin-top: none;
}

@media screen and (max-width: 800px) {
  .app {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px;
  }
  .title {
    box-shadow: none;
    width: auto;
  }

  .navBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: static;
  }
  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    padding: 0px;
    margin: 4%;
  }
  .welcome {
    align-items: center;
  }
  .welcomeString {
    justify-content: center;
    width: auto;
  }
  .header {
    height: auto;
  }
  .articlesSorter {
    margin-top: 5%;
  }
  .singleArticle {
    margin-top: 30px;
  }
}

@media screen and (max-width: 500px) {
  .sortForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
  }
  .topicName {
    padding-bottom: 0%;
  }
  .singleArticleHead {
    display: flex;
    flex-direction: column;
    font-size: 120%;
    margin: 3%;
  }
  .subtitle {
    display: flex;
    flex-direction: column;
  }
  .form {
    display: flex;
    flex-direction: row;
    height: 200%;
    align-items: center;
  }
  .vn {
    padding-left: 2px;
    padding-right: 2px;
  }
  #singleVoter {
    padding: 0px;
  }
}

/* .singleArticle {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 30px;
    margin: 0px;
  }

  .commentPoster {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .articleCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0%;
    margin-bottom: 10%;
    box-shadow: none;
  }

  .articleMain {
    font-size: 100%;
    background-color: beige;
    border: solid 1px lightgray;
  }
  .articleBody {
    font-size: 100%;
    padding: 5%;
    padding-left: 10%;
    padding-right: 10%;
  }
  .authorLink {
    font-size: 80%;
  }

  .commentsList {
    font-family: "fugaz one";
    font-size: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: none;
    align-items: center;
  }
  .commentBody {
    display: flex;
    flex-direction: column;
  }

  .commentPoster {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 80%;
    padding: 3%;
    margin: 3%;

    width: 85%;
  }
  .poster {
    margin-top: 0%;
    margin-bottom: 3%;
  }
  .comments {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 130%;
    padding: 0%;
    background-color: white;
  }

  .singleVoter {
    padding: 20px;
  }
  .header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: none;
    height: auto;
  }
  .title {
    box-shadow: none;
    margin: 4%;
    padding-left: 20%;
    padding-right: 20%;
  }

  #link {
    font-size: 200%;
  }


  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    padding: 0px;
    margin: 4%;
  }
  .homeArticlesSorter {
    width: 95%;
  }
  .welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0px;
    margin: 0px;
    padding-top: 10%;
    justify-content: center;
    font-size: 50%;
    padding-top: 0%;
    height: auto;
  }

  .topics {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 0%;
  }
  .topicName {
    padding-bottom: 0%;
  }
  .sortForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .articlesList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0%;
  }

  .articlesSorter {
    margin-top: 30px;
  }
  .commentHeader {
    display: flex;
    flex-direction: column;
  }
  .headerInfo {
    margin-top: 1%;
    margin-bottom: 1%;
    width: 100%;
  }
  .vn {
    margin: 0px;
  }
  .commentFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #articleDetails {
    display: flex;
    flex-direction: column;
  }
} */
